/* @import url('href="https://fonts.googleapis.com/css?family=Tangerine"'); */
/* css for header */
.div_header {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right top,rgb(211, 98, 83),rgb(89, 75, 216));  
}
.header_text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(240, 237, 233);
}
.header_link{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
